.DS_Store
node_modules/
.expo/
.expo-shared/
dist/
web-build/
coverage/
build/

.vscode/
.idea/
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

android/.gradle/
android/local.properties
android/app/build/
android/build/
android/app/*.keystore
android/app/*.jks

ios/Pods/
ios/build/
ios/*/*.xcworkspace/xcuserdata
ios/*/*.xcodeproj/xcuserdata
ios/*/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

.env
.env.*
!.env.example
